@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background: #020410;
}
.background {
  width: 100%;
  height: 115vh;
  background: url(https://images.unsplash.com/photo-1625895197185-efcec01cffe0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
/* Header CSS */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.navbar a{
  position: relative;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-right: 30px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  transition: .5s;
  transform: translate(10px);
  opacity: 0;
}

.navbar a:hover::after {
  transform: translate(0);
  opacity: 1 ;
}
.search-bar {
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding-left: 10px;
}
.search-bar input::placeholder {
  color: white;
}

.search-bar button {
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar button i {
  font-size: 22px;
  color: white;
}
/* Login Form CSS */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 600px;
  background: url(https://images.unsplash.com/photo-1625895197185-efcec01cffe0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 100px;

}
.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content .logo {
  font-size: 30px;
}
.text-sci h2 {
  font-size: 40px;
  line-height: 1;
}
.text-sci h2 span {
  font-size: 22px;
}
.text-sci p {
  font-size: 16px;
  margin: 20px 0;
}
.social-icon a i {
  font-size: 22px;
  color: white;
  transition:  .5s ease;
  margin-right: 10px;
}
.social-icon a:hover i {
  transform: scale(1.2);
}
.container .form-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}
.form-wrap .form-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(30px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.form-box h2 {
  font-size: 32px;
  text-align: center;
}
.form-box .input-box {
  width: 340px;
  position: relative;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  padding-right: 28px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top:  -5px;
}

.input-box .icon {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}

.remember-forgot {
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: rgb(245, 26, 59);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}
.btn:hover {
  background: rgb(187, 11, 37); ;
}
 .form-wrap .form-box.login {
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s;
}
.form-wrap.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}
.form-wrap .form-box.register {
  transform: translateX(430px);
  transition: transform .5s ease;
  transition-delay: 0s;
}
.form-wrap.active .form-box.register {
  transform: translateX(0);
  transition-delay: .7s;
}
.form-box .login-register {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}
.form-box .login-register p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.form-box .login-register p a:hover {
  text-decoration: underline;
}
.form-box.register {
  transform: translate(430px);
}